body {
    position: relative;
    background: #F3F5FC;
}

.logo-alura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#input-texto {
    position: absolute;
    width: 700px;
    height: 600px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    resize: none;
    outline: none;
    background: none;
}

.panel {
    position: absolute;
    width: 400px;
    height: 880px;
    left: 1400px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muñeco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 10px;
    top: 283px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 30px;
    top: 619px;
}

.message-fail {
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.message-enterText {
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 835px;
}

.text-warning {
    position: static;
    width: 205px;
    height: 18px;
    left: 24px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 220px;
    top: 865px;
}

.btn-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border-radius: 24px;
    border-style: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.text-encriptar {
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}

.btn-desencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.text-desencriptar {
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}

.invisible {
    display: none;
}

.btn-copy {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 30px;
    top: 800px;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
}

.text-copy {
    position: static;
    width: 288px;
    height: 19px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}

#final-text {
    position: absolute;
    width: 336px;
    height: 700px;
    left: 30px;
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
    resize: none;
    outline: none;
    background: none;
}

/*
    Aqui se realizaran los cambios en los diseños dependiendo el tamaño de la ventana
*/

/* Cambios para Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-alura {
        width: 100px;
        height: 50.58px;
        top: 73.42px;
    }

    #input-texto {
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;
    }

    .warning {
        left: 40px;
        top: 836px;
    }

    .buttons {
        left: 25px;
        top: 870px;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        width: 670px;
        height: 100px;
        left: 20px;
        top: 1001px;
    }

    .muñeco {
        display: none;
    }

    .messages {
        position: static;
        width: 624px;
        height: 69px;
        left: 32px;
        top: 32px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px 0px;
    }

    .message-fail {
        width: 624px;
        height: 29px;
    }

    .message-enterText {
        width: 624px;
        height: 24px;
        top: 45px;
    }

    .btn-copy {
        position: absolute;
        width: 624px;
        left: 50px;
        top: 544px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px 0px;
    }
}


/*  Cambios para celular  */